$body-background-image: url(https://images.unsplash.com/photo-1640039627651-9568241b6ab4?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80);


$h1-titulo-color: white;
$h1-titulo-background-color: rgba(0, 0, 255, 0.20);

$column-background-color: rgba(999, 999, 999, 0.60); 

$card-background-color: #fff;

$tag-background-color: #ddd;

$front-background-color: #0aae33;
$back-background-color: #ff4d4d;
$device-background-color: #ffa64d;

$tag-i-color: #fff;

$card-close-before-color:white;
$card-close-before-background-color: #ff4d4d;

$card-hover-color: white;
$card-hover-background-color: rgba(0, 0, 255, 0.20);

$card-hover-i-color: rgba(0, 0, 255, 0.90);

$card-hover-close-before-background-color:black;

