* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	line-height: 1.5;
	color: #333;
   background-image: url(https://images.unsplash.com/photo-1640039627651-9568241b6ab4?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80);
   background-repeat: no-repeat;
   background-attachment: scroll;
   background-size: cover;
}

main {
	width: 95%;
	height: 100%;
	margin: 0 auto;
	margin-top: 40px;
	padding: 40px 20px;
   text-align: center;
}

main *:not(h1) {
  text-align: left;
}

h1 { 
	margin-bottom: 20px;
	font-size: 2.2rem;
	color: white;
   padding-left: 25px;
   padding-right: 25px;
   background-color: rgba(0, 0, 255, 0.20);
   border-radius: 15px;
   display: inline-block;
}

h2 {
	margin-bottom: 10px;
	font-size: 1.4rem;
	font-weight: bold;
}

#kanban {
	overflow: hidden;
	display: block;
}

h3 {   
   margin-top: 30px;
	margin-bottom: 10px;
	font-size: 1.2rem;
   font-weight: bold;   
}

p {   
	margin-bottom: 20px;
	font-size: 1.2rem;
}

.column {
	float: left;
	width: 19%;
	background-color: rgba(999, 999, 999, 0.60);
	margin-right: 1%;
	margin-bottom: 20px;
	padding: 20px;
	border-radius: 15px;
	box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.column:last-child {
	margin-right: 0;
}

.card {
	background-color: #fff;
	border-radius: 15px;
	padding: 20px;
	margin-bottom: 20px;
	box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.card:last-child {
	margin-bottom: 0;
}

.tags {
	margin-top: 10px; 
}

.tag {
	display: inline-block;
	background-color: #ddd;
	border-radius: 50px;
	height: 25px;
	width: 25px;
	margin-right: 1px;
}

.tag:last-child {
	margin-right: 0;
}

.front {
	background-color: #0aae33;
}

.back {
	background-color: #ff4d4d;
}

.device {
	background-color: #ffa64d;
}

.tag i {
	display: block;
	text-align: center; 
	color: #fff;
	font-size: 0.9rem;
	padding-top: 5px;
}

.card {
   position: relative;
}

.card .close::before {
	content: "x";
	position: absolute;
	top: 10px;
	right: 10px;
	background-color: #ff4d4d;
	border-radius: 50%;
	width: 25px;
	height: 25px;
	text-align: center;
	font-weight: bold;
	color: white;
   transition: background-color ;
}

.card:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 255, 0.20);
  color: white;
}

.card:hover i {
   color: rgba(0, 00, 255, 0.90);
}

.card:hover .close::before {
   background-color: black;
}